@ 2019/7/12 10:06:57
goods_id            产品id
cat_id              分类id
goods_sn            产品编码  
goods_name          产品名称
goods_smallname     产品副名称
goods_name_style    产品名称 风格（加粗，颜色等）
click_count         点击量
brand_id    品牌id 
provider_name       空
goods_number    库存 
goods_weight        产品重量 
market_price        市场价格  
shop_price          商店价格
promote_price       促销价格  
promote_start_date  促销开始日期  
promote_end_date    促销结束日期  
warn_number    仓库警告最低数量
keywords    商品关键词 
goods_brief    商品简介
goods_desc    商品描述 
goods_thumb    商品缩略图 100*100
goods_img    商品大图  230*230
original_img    商品中图（原始）  100*199
is_real            是否是实物 
extension_code    如果不是实物 则是什么品类 
is_on_sale          是否上架  
is_alone_sale  
is_shipping    是否包运费
integral    积分实际积分/100 
add_time    添加实际
sort_order    ec内部为100 还需查
is_delete       是否是删除状态  
is_best      是否是精品
is_new      是否是最新
is_hot      是否是最热
is_promote 是否是促销 
bonus_type_id 红包类型id 
last_update      最后一次更新时间  
goods_type 待验证（商品类型） 可为0
seller_note   空值 
give_integral   -1
rank_integral  空
suppliers_id 空
is_check 空
tb_iid        空
tb_data      空