{include file="header"}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 属性管理 <span class="c-gray en">&gt;</span> 属性分类管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
        
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="text-c">
                    <input id="__token__" name="__token__" value="{$Request.token}" hidden/ >
                    <input type="text" placeholder="名称" value="" class="input-text" style="width:120px" id="name">
                    <input type="file" name="" id="wenjian">
                 <button type="button" class="btn btn-success" id="add" name=""><i class="Hui-iconfont" >&#xe600;</i> 添加</button>
            </div>
            <div class="text-c">
                <span id="demo">&nbsp;&nbsp;</span>
            </div>

            <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a></span>  <a href="{:url('ding/test')}">下载</a> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
            <div class="mt-10">
                <table class="table table-border table-bordered table-bg table-sort">
                    <thead>
                        <tr class="text-c">
                            <th width="25"><input type="checkbox" name="" value=""></th>
                            <th width="70">ID</th>
                            <th width="120">属性名称</th>
                            <th width="100">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </article>
    </div>
<div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <h3 class="modal-title">对话框标题</h3>
                <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
            </div>
            <div class="modal-body">
                <input type="text" value="" id="up_id" hidden="">
                <input type="text" value="" id="up_name">
                <span id="up_span"></span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="up_action()">确定</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

{include file="footer"}
<script>
         // 导入Excell        
    $(document).ready(function(){
      $("#add").click(function(){
        // console.log(brand_name)
        var wenjian=$("#wenjian").val();
        var formData = new FormData();
        formData.append('wenjian', $('#wenjian')[0].files[0]);
        $.ajax({
            url:"{:url('ding/add')}",
            data:formData,
            type:'post',
            // dataType:'json',
            contentType: false, 
            // 注意这里应设为false2                
            processData: false,
            cache: false,
            success:function(res){
                // if (res.status=='error') {
                //     alert(res.data)
                // }else{
                //     show()
                // }
            }
        })
     });
  });


</script>

</body>
</html> 
